@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

nav {
    display: flex;
    position: fixed;
    left: 0;
    top: 0%;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 20px 20px;
    z-index: 99999;
    .logo {
        position: relative;
        & a>div {
            position: absolute;
            height: 125%;
            width: 125%;
            top: -5px;
            left: -20px;
            z-index: -1;
            background: white;
            border-radius: 0 6px 6px 0;
        }
    }
    .header-2nd-container {
        display: flex;
        align-items: center;
        padding-right: 10px;
        .get-started-btn {
            position: relative;
        }
        button {
            border: 0;
            background-color: #04B0BC;
            color: white;
            padding: 10px;
            border-radius: 6px;
            font-family: 'Poppins', sans-serif;
            margin-right: 30px;
        }
    }
}

//HAMBURGER
.hamburger {
    cursor: pointer;
    padding: 10px 40px 16px 0px;
    z-index: 9999;
}

.hamburger span {
    background: #04979B;
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    position: absolute;
    display: inline-block;
    content: '';
}

.hamburger span:before {
    top: -10px;
    background: #0E84AD;
}

.hamburger span:after {
    bottom: -10px;
    background: #04B0BC;
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    /* easeInOutCubic */
}

.hamburger.active span {
    background-color: transparent;
}

.hamburger.active span:before,
.hamburger.active span:after {
    top: 0;
}

.hamburger.active span:before {
    transform: rotate(45deg);
}

.hamburger.active span:after {
    transform: translateY(-10px) rotate(-45deg);
    top: 10px;
}

//SIDE MENU
.offcanvas {
    width: 25em!important;
}

.offcanvas-body {
    background: linear-gradient(180deg, #0581B4 0%, #06969F 100%);
    .accordion-button {
        border: none;
        border-radius: 0!important;
        box-shadow: none;
    }
}

.accordion-menu {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 300px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 500;
    h2 {
        font-size: 18px;
        line-height: 34px;
        font-weight: 500;
        letter-spacing: 1px;
        display: block;
        margin: 0;
        cursor: pointer;
        color: #fff;
    }
    // p {
    //     color: rgba(48, 69, 92, 0.8);
    //     font-size: 15px;
    //     line-height: 26px;
    //     letter-spacing: 1px;
    //     position: relative;
    //     overflow: hidden;
    //     max-height: 800px;
    //     opacity: 1;
    //     transform: translate(0, 0);
    //     z-index: 2;
    //     border-radius: 5px;
    // }
    ul {
        list-style: none;
        perspective: 900;
        padding-left: 0;
        margin: 0;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        li {
            animation: flipdown 0.5s ease both;
            position: relative;
            padding: 0;
            margin: 0;
            padding-bottom: 4px;
            color: white;
            a {
                color: white;
                text-decoration: none;
                font-size: larger;
            }
            &:nth-child(1) {
                border: none;
            }
            &:nth-of-type(1) {
                animation-delay: 0.5s;
            }
            &:nth-of-type(2) {
                animation-delay: 0.75s;
            }
            &:nth-of-type(3) {
                animation-delay: 1.0s;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
            .arrow {
                position: absolute;
                transform: translate(-6px, 0);
                margin-top: 16px;
                right: 0;
            }
            .fas {
                color: #f6483b;
                font-size: 15px;
                margin-right: 10px;
            }
            .arrow:before,
            .arrow:after {
                content: "";
                position: absolute;
                background-color: #fff;
                width: 3px;
                height: 9px;
            }
            .arrow:before {
                transform: translate(-2px, 0) rotate(45deg);
            }
            .arrow:after {
                transform: translate(2px, 0) rotate(-45deg);
            }
            input[type=checkbox] {
                position: absolute;
                cursor: pointer;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
            }
            input[type=checkbox]:checked~p {
                margin-top: 0;
                max-height: 0;
                opacity: 0;
                transform: translate(0, 50%);
            }
            input[type=checkbox]:checked~.arrow:before {
                transform: translate(2px, 0) rotate(45deg);
            }
            input[type=checkbox]:checked~.arrow:after {
                transform: translate(-2px, 0) rotate(-45deg);
            }
            .transition,
            p {
                background: linear-gradient(180deg, #0B8CB9 0%, #088EA9 100%);
                margin: 0;
                padding: 0px;
                a {
                    color: rgb(238, 238, 238);
                    margin: 1em;
                }
            }
            p,
            .arrow:before,
            .arrow:after {
                transition: all 0.25s ease-in-out;
            }
            .flipIn,
            h1 {
                animation: flipdown 0.5s ease both;
            }
        }
    }
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }
    5% {
        opacity: 1;
    }
    80% {
        transform: rotateX(8deg);
    }
    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(-3deg);
    }
    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

//===============
.top-v {
    height: 100vh;
    width: 100vw;
    video {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }
}

.all-grid-img-container {
    padding: 10px 10px 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.6fr 0.5fr 0.3fr 0fr 0.4fr 0fr 1fr 0fr 0.7fr 0fr 0.5fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "img1 img2" "img3 img3" "img4 img5" "img4 img6" "img7 img7" "img7 img7" "img8 img9" "img8 img9" "img10 img10" "img10 img10" "img11 img13" "img12 img13" ". .";
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7;
}

.img8 {
    grid-area: img8;
}

.img9 {
    grid-area: img9;
}

.img10 {
    grid-area: img10;
}

.img11 {
    grid-area: img11;
}

.img12 {
    grid-area: img12;
}

.img13 {
    grid-area: img13;
}

//ABOUT US
.about-us {
    text-align: center;
    background: linear-gradient(0deg, rgba(4, 151, 155, 1) 0%, rgba(4, 121, 188, 1) 100%);
    padding: 3em;
    color: white;
    width: 100vw;
    .about-us-heading {
        font-family: "deluxes", sans-serif;
        text-align: center;
        h1 {
            font-size: calc(3em + 1vw);
        }
        span {
            display: block;
            font-size: calc(15px + 1vw);
            letter-spacing: 11px;
            text-align: center;
        }
    }
    .about-us-desc {
        display: flex;
        justify-content: center;
        p {
            font-family: "Poppins", sans-serif;
            margin-top: 2em;
            max-width: 70em;
            font-size: calc(0.5px + 1vw);
            font-weight: 400;
        }
    }
}

//FOOTER
.footer-container {
    max-width: 1370px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background: linear-gradient(180deg, rgba(4, 151, 155, 1) 0%, rgba(4, 121, 188, 1) 100%);
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .get-started-btn button {
        position: fixed;
        bottom: 10px;
        right: 10px;
        margin-right: 0!important;
    }
    .all-grid-img-container {
        padding: 3px 3px 0 3px!important;
        gap: 2px 3px!important;
    }
}

@media screen and (max-width:1200px) {
    .about-us-desc {
        p {
            font-size: calc(5px + 1vw)!important;
        }
    }
}

@media screen and (max-width:800px) {
    .about-us-desc {
        p {
            font-size: calc(7px + 1vw)!important;
        }
    }
}