@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@font-face {
  font-family: "deluxes";
  src: url(../fonts/DeluxesBold-8MzWg.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  top: 0%;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px 20px 20px;
  z-index: 99999;
}

nav .logo {
  position: relative;
}

nav .logo a > div {
  position: absolute;
  height: 125%;
  width: 125%;
  top: -5px;
  left: -20px;
  z-index: -1;
  background: white;
  border-radius: 0 6px 6px 0;
}

nav .header-2nd-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

nav .header-2nd-container .get-started-btn {
  position: relative;
}

nav .header-2nd-container button {
  border: 0;
  background-color: #04B0BC;
  color: white;
  padding: 10px;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  margin-right: 30px;
}

.hamburger {
  cursor: pointer;
  padding: 10px 40px 16px 0px;
  z-index: 9999;
}

.hamburger span {
  background: #04979B;
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  position: absolute;
  display: inline-block;
  content: '';
}

.hamburger span:before {
  top: -10px;
  background: #0E84AD;
}

.hamburger span:after {
  bottom: -10px;
  background: #04B0BC;
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  /* easeInOutCubic */
}

.hamburger.active span {
  background-color: transparent;
}

.hamburger.active span:before,
.hamburger.active span:after {
  top: 0;
}

.hamburger.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.active span:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
  top: 10px;
}

.offcanvas {
  width: 25em !important;
}

.offcanvas-body {
  background: -webkit-gradient(linear, left top, left bottom, from(#0581B4), to(#06969F));
  background: linear-gradient(180deg, #0581B4 0%, #06969F 100%);
}

.offcanvas-body .accordion-button {
  border: none;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-menu {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 300px;
  border-radius: 5px;
  font-family: 'Poppins';
  font-weight: 500;
}

.accordion-menu h2 {
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  color: #fff;
}

.accordion-menu ul {
  list-style: none;
  -webkit-perspective: 900;
          perspective: 900;
  padding-left: 0;
  margin: 0;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.accordion-menu ul li {
  -webkit-animation: flipdown 0.5s ease both;
          animation: flipdown 0.5s ease both;
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  color: white;
}

.accordion-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: larger;
}

.accordion-menu ul li:nth-child(1) {
  border: none;
}

.accordion-menu ul li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.accordion-menu ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.accordion-menu ul li:nth-of-type(3) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.accordion-menu ul li:last-of-type {
  padding-bottom: 0;
}

.accordion-menu ul li .arrow {
  position: absolute;
  -webkit-transform: translate(-6px, 0);
          transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

.accordion-menu ul li .fas {
  color: #f6483b;
  font-size: 15px;
  margin-right: 10px;
}

.accordion-menu ul li .arrow:before,
.accordion-menu ul li .arrow:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 3px;
  height: 9px;
}

.accordion-menu ul li .arrow:before {
  -webkit-transform: translate(-2px, 0) rotate(45deg);
          transform: translate(-2px, 0) rotate(45deg);
}

.accordion-menu ul li .arrow:after {
  -webkit-transform: translate(2px, 0) rotate(-45deg);
          transform: translate(2px, 0) rotate(-45deg);
}

.accordion-menu ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.accordion-menu ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.accordion-menu ul li input[type=checkbox]:checked ~ .arrow:before {
  -webkit-transform: translate(2px, 0) rotate(45deg);
          transform: translate(2px, 0) rotate(45deg);
}

.accordion-menu ul li input[type=checkbox]:checked ~ .arrow:after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
          transform: translate(-2px, 0) rotate(-45deg);
}

.accordion-menu ul li .transition,
.accordion-menu ul li p {
  background: -webkit-gradient(linear, left top, left bottom, from(#0B8CB9), to(#088EA9));
  background: linear-gradient(180deg, #0B8CB9 0%, #088EA9 100%);
  margin: 0;
  padding: 0px;
}

.accordion-menu ul li .transition a,
.accordion-menu ul li p a {
  color: #eeeeee;
  margin: 1em;
}

.accordion-menu ul li p,
.accordion-menu ul li .arrow:before,
.accordion-menu ul li .arrow:after {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.accordion-menu ul li .flipIn,
.accordion-menu ul li h1 {
  -webkit-animation: flipdown 0.5s ease both;
          animation: flipdown 0.5s ease both;
}

@-webkit-keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

.top-v video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.all-grid-img-container {
  padding: 10px 10px 0 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.5fr 0.6fr 0.5fr 0.3fr 0fr 0.4fr 0fr 1fr 0fr 0.7fr 0fr 0.5fr;
      grid-template-rows: 0.5fr 0.6fr 0.5fr 0.3fr 0fr 0.4fr 0fr 1fr 0fr 0.7fr 0fr 0.5fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  width: 99vw;
      grid-template-areas: "img1 img2" "img3 img3" "img4 img5" "img4 img6" "img7 img7" "img7 img7" "img8 img9" "img8 img9" "img10 img10" "img10 img10" "img11 img13" "img12 img13" ". .";
}

.img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

.img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
}

.img3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img3;
}

.img4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img4;
}

.img5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: img5;
}

.img6 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: img6;
}

.img7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img7;
}

.img8 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img8;
}

.img9 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img9;
}

.img10 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img10;
}

.img11 {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: img11;
}

.img12 {
  -ms-grid-row: 12;
  -ms-grid-column: 1;
  grid-area: img12;
}

.img13 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img13;
}

.about-us {
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#04979b), to(#0479bc));
  background: linear-gradient(0deg, #04979b 0%, #0479bc 100%);
  padding: 3em;
  color: white;
  width: 100vw;
}

.about-us .about-us-heading {
  font-family: "deluxes", sans-serif;
  text-align: center;
}

.about-us .about-us-heading h1 {
  font-size: calc(3em + 1vw);
}

.about-us .about-us-heading span {
  display: block;
  font-size: calc(15px + 1vw);
  letter-spacing: 11px;
  text-align: center;
}

.about-us .about-us-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us .about-us-desc p {
  font-family: "Poppins", sans-serif;
  margin-top: 2em;
  max-width: 70em;
  font-size: calc(0.5px + 1vw);
  font-weight: 400;
}

.footer-container {
  max-width: 1370px;
  margin: auto;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#04979b), to(#0479bc));
  background: linear-gradient(180deg, #04979b 0%, #0479bc 100%);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .get-started-btn button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 1200px) {
  .about-us-desc p {
    font-size: calc(5px + 1vw) !important;
  }
}

@media screen and (max-width: 800px) {
  .about-us-desc p {
    font-size: calc(7px + 1vw) !important;
  }
}
/*# sourceMappingURL=index.css.map */